<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Investpy</title>
</head>

<body>
    <h1 style="color: #5e9ca0;">API Investing</h1>
    <h2 style="color: #2e6c80;">How to use?</h2>
    <p>You need pass to /dividendos the body with your call, example with curl:</p>
    <p><strong>curl -X POST localhost:5000/dividendos -H 'Content-Type: application/json' -d
            '{"stock":"AAPL","country":"United States","from_date":"01/01/2020","to_date":"01/01/2021"}'</strong></p>
    <br>
    <p>localhost needs to be replaced with your <strong> address </strong> and <strong>port</strong> </p>            
</body>

</html>